# Python Overview

**1. Expression**

In [1]:
x=2+2*3
k="\nPeter ist " + "65 Jahre alt."
print(x, k)

8
Peter ist 65 Jahre alt.

**2. Variables**

2.1. Initializing a variable

In [2]:
a = 5  # int data type
# = is not equal to ==
b="Moin" # str data type
c=3.44 # float data type
d=[1, "kkkk"] # list data type

2.1.1. Use a variable after it's initialized

In [3]:
print(b)

Moin

2.2. Overwriting

In [4]:
b=999999
print(b)

999999

2.3. Single and double quotes (Quotation inside of strings -> )

In [5]:
e="Hallo"
f='Hallo'
print(e, f, sep='\n')

Hallo
Hallo

2.4. Variable Names

2.4.1. Good variable name

In [6]:
greeting="Servus" # good description, lowercase

2.4.1. Possible variable names

In [7]:
hey=88 # one word
jojo8z=77 # numbers
jojo_r=99 # underscore
Jojo=55 # uppercase

2.4.2. Naming Techniques

2.4.2.1. Pascal Case

In [8]:
MyLittleBro=0.5

2.4.2.2. Snake Case

In [9]:
my_little_bro=0.3

2.4.2.3. Camel Case

In [10]:
myLittleBro=0.7

2.5. Casting

In [2]:
strcas=str("Goofy") 
intcas=int(8) # float, complex work the same
listcas=list(("apple", "banana", "cherry")) # tuple, set, frozenset work the same
dictcas=dict(name="John", age=44)
boolcas=bool(9) # range, bytes and  bytearray work the same
memoryviewcas=(bytes(4))

#Works also with float, complex, tuple, range, set,
#frozenset, bytes and bytearray

2.5.1. Convert data types with casting

In [12]:
intcon=int(99.5) # called construtors
print(intcon)
tuplecon=tuple(listcas)
print(tuplecon)
# works also with other data types

99
('apple', 'banana', 'cherry')

2.6. Assign multiple values

In [13]:
xa, ya, za = "Moin", "Servus", "Hallo"
xb=yb=zb = "Tach"

2.6.1. Output multiple variables

In [14]:
print(xa, ya, za) # recommended
print(xa + ya + za) # no space, see more at print function( )

Moin Servus Hallo
MoinServusHallo

2.7. Multiple Assignement Trick

In [1]:
cat=["fat", "brown", "loud"]
size, color, characteristic=cat
# works with Tuples the same

2.8. Scopes

In [2]:
go="run" # global scope
if go == "run":
    go="sprint" # global scope
    print(go)

def sport():
    go="kp" # local scope
    print(go)
sport()
print(go)

def chill():
    tv="Football" # local scope
    print(tv)
chill()

sprint
kp
sprint
Football

2.8.1. global statement

In [4]:
def games():
    global brawlstars # brawlstars is assigned as a gloabal variable
    brawlstars="Bull"
    print(brawlstars)
games()
print(brawlstars)

Bull
Bull

2.9. (Line Continuation Character)

In [5]:
result = 10 + 20 + \
         30 + 40 + \
         50 + 60 + \
         70 + 80 + \
         90 + 100
print(result)

550

**3. Comments**

In [4]:
# normal comment

"""triple quotes, block commenting, called docstring
ja moin """;  # the docstring doesn't normally get returned that's why I added a ";"

x="""hey
i am Peter
and i like tennis
"""    # multiline string, so the docstring is not a typical comment, 
       # because it behaves differently than a normal comment

print(x)

hey
i am Peter
and i like tennis

**4. Operators**

4.1. Arithmetic operators

In [4]:
#1 Exponent
print(8**4)

#2 Modulus
z=8%4
print(z)

#3 Integer Division
print(8//4)

#4 Division
print(8/4)

#5 Multiplication
print(8*4)

#6 Subtraction
print(8-4)

#7 Addition
print(8+4)

4096
0
2
2.0
32
4
12

4.2. Assignement operators

In [5]:
#1 = 
numb=6

print(numb)

#2 +=
numb+=6
# same as numb=numb+6

print(numb)

#3 -=
numb-=6
# same as numb=numb-6

print(numb)

#4 *=
numb*=6
# same as numb=numb*6

print(numb)

#5 **=
numb**=6
# same as numb=numb**6

print(numb)

#6 /=
numb/=6
# same as numb=numb/6

print(numb)

#7 //=
numb//=6
# same as numb=numb//6

print(numb)

#8 %=
numb%=6
# same as numb=numb%6

print(numb)

# 5 more -> Investigation

6
12
6
36
2176782336
362797056.0
60466176.0
0.0

4.3. Comparion operators

In [6]:
#1 equal to
print(6==7)

#2 not equal to
print(6!=7)

#3 less than
print(7<6)

#4 greater than
print(7>6)

#5 less than or equal to
print(7<=7)

#6 greater than or equal to
print(7>=6)


# Special Cases
print(1==True)
print(0==True)
print(0==False)

False
True
False
True
True
True
True
False
True

4.4. Logical operators

In [8]:
p=8
#1 and
print(p>8 and p < 10)
print(p>7 and p < 10)

#2 or
print(p>8 or p < 10)
print(p>9 or p < 0)

#3 not
print(not(p>7 and p < 10))
print(not(p>9 and p < 10))

False
True
True
False
False
True

4.5. Identity operators

In [9]:
i=6
o=7
print(i is o)
print(i is not o)

False
True

4.6. Membership operators

In [10]:
jo="Moin, Servus, Hallo"
print("Moin" in jo)
print("Guten Tag" not in jo)

# Bitwise operators left

True
True

**5. Integer Data Type**

In [11]:
h=5
l=-888

5.1. Convert to complex or float

In [12]:
g=float(8)
print(g)

z=complex(-777)
print(z)

8.0
(-777+0j)

**6. Floating-point numbers**

In [13]:
r=-888.999
u=33.636

t=1/3 # fractions
v=35e3 # e indicates power of 10
# same as o=35*10**3

6.1. Convert to integer or complex

In [14]:
kk=int(382.74)
print(kk)

ak=complex(382.74)
print(ak)

382
(382.74+0j)

**7. Complex**

In [15]:
f=4+6j
g=99j
h=-32j
# conversion to int or float doesn't work

**8. String Data Type (Text, Sequence)**

8.1. Multiline Strings

In [16]:
cc="""moin
wie
geths 
dir
"""
print(cc)

moin
wie
geths
dir

8.2. Blank String

In [17]:
ll=""
print(ll)

8.3. String concentation and replication

In [18]:
#1 Concentation
print('Alice ' + 'Bob')

a = "Hello "
b = "World"
c = a + b
print(c)

a += "World"
print(a)

#2 Replication
print("Jo " * 7)

Alice Bob
Hello World
Hello World
Jo Jo Jo Jo Jo Jo Jo

8.4. Escape characters

In [19]:
# 1 Single Quote
print('This is an example of a single quote: \'')

# 2 Double Quote
print("This is an example of a double quote: \"")

# 3 Backslash
print("This is an example of a backslash: \\")

# 4 New Line
print("This is an example of a new line:\nSecond line")

# 5 Tab
print("This is an example of a tab:\tSecond column")

This is an example of a single quote: '
This is an example of a double quote: "
This is an example of a backslash: \
This is an example of a new line:
Second line
This is an example of a tab:	Second column

8.5. Raw string

In [20]:
print(r'That is Carol\'s cat.')

That is Carol\'s cat.

8.7. Indexing and Slicing

In [21]:
ap="Hello, World!"

#1 Indexing
print(ap[1])

#2 Slice
print(ap[3:9])

#3 Slice from the start
print(ap[:8])

#4 Slice from the end
print(ap[3:])

#5 Negative Indexing
print(ap[-5:-2])

#6 Reverse String
print(ap[::-1])

e
lo, Wo
Hello, W
lo, World!
orl
!dlroW ,olleH

8.8. Looping through a string

In [22]:
for x in ap:
    print(x)

H
e
l
l
o
,

W
o
r
l
d
!

8.9. Methods

8.9.1. Case Transformation

In [23]:
w="Moin wie geht es Kai?"

#1
print(w.capitalize())

#2
print(w.casefold())

#3 
print(w.lower())

#4
print(w.upper())

#5
print(w.swapcase())

#6
print(w.title())

Moin wie geht es kai?
moin wie geht es kai?
moin wie geht es kai?
MOIN WIE GEHT ES KAI?
mOIN WIE GEHT ES kAI?
Moin Wie Geht Es Kai?

8.9.2. Content Modification

In [39]:
jj="hallo"
k="Hey\t ich\t bin\t Mark\t"

#1
print(jj.center(20))
print(jj.center(20, "I"))

#2
print(k.expandtabs(10))

#3  rjust works the same
print(jj.ljust(20, "I"))
print(jj.ljust(20), "moinsen")

#4 
print(jj.zfill(15))

#5 lstrip and rstrip work the same
txt = "     banana     "
print(txt.strip())

txt = ",,,,,rrttgg.....banana....rrr"
print(txt.strip(",.grt"))

#6 
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three") # third parameter could specify how many occurences to replace

       hallo
IIIIIIIhalloIIIIIIII
Hey        ich       bin       Mark
halloIIIIIIIIIIIIIII
hallo                moinsen
0000000000hallo
banana
banana

8.9.3. Formatting and Joining

In [45]:
#1 
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)

#2 works with iterables
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"
print(mySeparator.join(myDict))

My name is John, I'm 36
nameTESTcountry

8.9.4. Splitting

In [46]:
#1
txt = "I could eat bananas all day"
print(txt.partition("bananas"))

#2 
txt = "I could eat bananas all day, bananas are my favorite fruit"
print(txt.rpartition("bananas"))

#3
txt = "welcome to the jungle"
print(txt.split())

txt = "hello, my name is Peter, I am 26 years old"
print(txt.split(", "))

txt = "apple#banana#cherry#orange"
print(txt.split("#", 1)) # maxsplit

#4 splits at line breaks
txt = "Thank you for the music\nWelcome to the jungle"
print(txt.splitlines())

txt = "Thank you for the music\nWelcome to the jungle"
print(txt.splitlines(True))

#5
txt = "apple, banana, cherry"
x = txt.rsplit(", ") # same as split

txt = "apple, banana, cherry"
print(txt.rsplit(", ", 1))

('I could eat ', 'bananas', ' all day')
('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')
['welcome', 'to', 'the', 'jungle']
['hello', 'my name is Peter', 'I am 26 years old']
['apple', 'banana#cherry#orange']
['Thank you for the music', 'Welcome to the jungle']
['Thank you for the music\n', 'Welcome to the jungle']
['apple, banana', 'cherry']

8.9.5. Information and Validation

In [ ]:
#1
txt = "I love apples, apple are my favorite fruit"
print(txt.count("apple", 10, 24))

#2 endswith works the same
txt = "Hello, welcome to my world."
print(txt.startswith("wel", 7, 20))

**9. List Data Type (Sequence, Dynamic Array)**

9.1. Empty List

In [38]:
nn=[]

9.2. Indexing and Slicing

In [39]:
ap = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# 1 Indexing
print(ap[1]) 

# 2 Slice
print(ap[3:9])

# 3 Slice from the start
print(ap[:8]) 

# 4 Slice from the end
print(ap[3:])  

# 5 Negative Indexing
print(ap[-5:-2])  

# 6 Reversing a list
reversed_ap = ap[::-1]
print(reversed_ap) 

#7 Change values
ap[1] = 9
print(ap)

2
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8]
[4, 5, 6, 7, 8, 9]
[5, 6, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 9, 3, 4, 5, 6, 7, 8, 9]

9.3. List concentation and replication

In [40]:
# Concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]

concatenated_list = list1 + list2
print(concatenated_list) 

# Alternatively, using the extend method:
list1.extend(list2)
print(list1)  

# Replication
original_list = [0, 1, 2]
replicated_list = original_list * 3
print(replicated_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[0, 1, 2, 0, 1, 2, 0, 1, 2]

9.4. List Comprehensions

In [41]:
# 1. Creating a list of squares of numbers from 1 to 5:
squares = [x**2 for x in range(1, 6)]
print(squares)  

# 2. Filtering even numbers from a given list:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers) 

# 3. Creating a list of tuples using zip:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
combined_list = [(x, y) for x, y in zip(list1, list2)]
print(combined_list) 

# 4. Flattening a list of lists:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)  

# 5. Creating a list of uppercase letters:
letters = ['a', 'b', 'c']
uppercase_letters = [letter.upper() for letter in letters]
print(uppercase_letters)

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]
[('a', 1), ('b', 2), ('c', 3)]
[1, 2, 3, 4, 5, 6, 7, 8]
['A', 'B', 'C']

9.5. Nested Lists

In [42]:
# Nested list example
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Accessing elements
print(nested_list[0])    # Output: [1, 2, 3]
print(nested_list[1][2]) # Output: 6

[1, 2, 3]
6

9.6. List Constructor ????

In [43]:
# List constructor example
numbers = list(range(5))
print(numbers)  

# Another example
words = list("Hello")
print(words)

[0, 1, 2, 3, 4]
['H', 'e', 'l', 'l', 'o']

9.5. Methods

In [5]:
#1
fruits = ['apple', 'banana', 'cherry']
x=fruits.append("orange")
print(fruits)

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

#2
fruit = ['apple', 'banana', 'cherry', 'orange']
fruit.clear()
print(fruit)

#3
fruit1 = ['apple','banana','cherry','orange']
print(fruit1.copy())

#4
fruits = ['apple', 'banana', 'cherry']
print(fruits.count("cherry"))

#5
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']
fruits.extend(cars)
print(fruits)

#6
fruits = ['apple', 'banana', 'cherry']
print(fruits.index("cherry"))

#7
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)

#8
fruits = ['apple', 'banana', 'cherry']
print(fruits.pop(1)) # default is -1

#9
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits) 

#10
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)

#11 later sort
fruits = ['apple', 'banana', 'cherry']
num=[2, 6, 8, 4]
fruits.sort()
num.sort()
print(fruits)
print(num)
fruits.sort(reverse=True)
print(fruits)
fruits.sort(key=len)
print(fruits)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
[]
['apple', 'banana', 'cherry', 'orange']
1
['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
2
['apple', 'orange', 'banana', 'cherry']
banana
['apple', 'cherry']
['cherry', 'banana', 'apple']
['apple', 'banana', 'cherry']
[2, 4, 6, 8]
['cherry', 'banana', 'apple']
['apple', 'cherry', 'banana']

**10. Tuple Data Type (Sequence)**

10.1. Indexing and Slicing

In [64]:
tt = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# 1 Indexing
print(tt[1]) 

# 2 Slice
print(tt[3:9])  

# 3 Slice from the start
print(tt[:8])  

# 4 Slice from the end
print(tt[3:]) 

# 5 Negative Indexing
print(tt[-5:-2])  

# 6 Reversing a tuple
reversed_tt = tt[::-1]
print(reversed_tt)

2
(4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8, 9)
(5, 6, 7)
(9, 8, 7, 6, 5, 4, 3, 2, 1)

10.2. One Word Tuple

In [65]:
word_tuple = ('Hello',)

10.3. Tuple Constructor

In [66]:
numbers = tuple(range(5))
print(numbers)  

# Another example
words = tuple("Hello")
print(words)

(0, 1, 2, 3, 4)
('H', 'e', 'l', 'l', 'o')

10.4. Methods

In [68]:
# Use methods by converting to list

#1
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(thistuple.count(5))

#2
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
print(thistuple.index(8))

2
3

**11. Dictionary**

11.1. Empty Dictionary

In [47]:
kk= {}

11.2. Change value of an item

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

11.3. Add item

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

11.4. Dictionary Constructor

In [50]:
# 1
student_info = dict(name='John', age=25, grade='A')
print(student_info)  

# 2
pairs = [('a', 1), ('b', 2), ('c', 3)]
dictionary_from_list = dict(pairs)
print(dictionary_from_list)

{'name': 'John', 'age': 25, 'grade': 'A'}
{'a': 1, 'b': 2, 'c': 3}

11.5. Nested Dictionariey

In [51]:
student_info = {
    'John': {
        'age': 25,
        'grade': 'A'
    },
    'Alice': {
        'age': 23,
        'grade': 'B'
    }
}

print(student_info)  

# Accessing nested dictionary values
print(student_info['John']['age']) 
print(student_info['Alice']['grade']) 

# Modifying nested dictionary
student_info['John']['grade'] = 'A+'
print(student_info['John'])  

# Adding new student
student_info['Bob'] = {'age': 24, 'grade': 'B+'}
print(student_info)

{'John': {'age': 25, 'grade': 'A'}, 'Alice': {'age': 23, 'grade': 'B'}}
25
B
{'age': 25, 'grade': 'A+'}
{'John': {'age': 25, 'grade': 'A+'}, 'Alice': {'age': 23, 'grade': 'B'}, 'Bob': {'age': 24, 'grade': 'B+'}}

11.6. Dictionary Comprehension

In [6]:
numbers = [1, 2, 3, 4, 5]

# Doubling each number and creating a dictionary
doubled_numbers = {num: num * 2 for num in numbers}

# Squaring each number and creating a dictionary
squared_numbers = {num: num ** 2 for num in numbers}

# Combining two dictionaries
combined_dict = {key: (value, squared_numbers.get(value, None)) for key, value in doubled_numbers.items()}

# Filtering keys based on a condition
filtered_dict = {key: value for key, value in combined_dict.items() if value[0] < 6}

# Modifying values in the dictionary
modified_dict = {key: value[0] * 10 for key, value in filtered_dict.items()}

11.7. Methods

In [7]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#1
car.clear()
print(car)

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

#2
x = car.copy()
print(x)

#3
x = ('key1', 'key2', 'key3')
y = 0 
thisdict = dict.fromkeys(x, y) # y - default is None
print(thisdict) 

#4
x = car.get("model")
print(x) 

x = car.get("price", 15000)
print(x)

#5
x = car.items()
print(x) 
# could modify afterwards

#6
x = car.keys()
car["color"] = "white"
print(x)

#7
x=car.pop("model")
print(x, car)

#8
car.popitem()
print(car)

#9
x = car.setdefault("model", "Bronco")
print(x)

x = car.setdefault("color", "white")
print(x)

#10
car.update({"color": "White"})
print(car)

#11
x = car.values()
print(x)

{}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'key1': 0, 'key2': 0, 'key3': 0}
Mustang
15000
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_keys(['brand', 'model', 'year', 'color'])
Mustang {'brand': 'Ford', 'year': 1964, 'color': 'white'}
{'brand': 'Ford', 'year': 1964}
Bronco
white
{'brand': 'Ford', 'year': 1964, 'model': 'Bronco', 'color': 'White'}
dict_values(['Ford', 1964, 'Bronco', 'White'])

**12. Sets and frozensets**

In [78]:
basket={"orange", "apple", "mango", "apple", "orange"}

In [79]:
# description notion really bad  i

In [55]:
# frozenset, intersection

12.x. Methods

In [6]:
#
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y) 
print(z)

#
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y) 
print(x)
#
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)
print(result)

#
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'banana', 'cherry'}
{'banana', 'cherry'}
{'c'}
{'c'}

**13. Boolean Data Type**

In [1]:
# 1 Boolean variables
x = True
y = False

# 2 Boolean expressions
is_sunny = True
is_raining = False
temperature_above_25 = True

# 3 Boolean operations
sunny = True
warm = True
if sunny and warm:
    print("It's a great day!")

raining = False
cold = True
if raining or cold:
    print("You might need an umbrella or a jacket.")

# 4 Comparison operators
x = 5
y = 10
print(x < y) 
print(x == y)  

# 5 Conditional statements
temperature = 30
if temperature > 25:
    print("It's hot outside!")
else:
    print("It's not too hot.")

# 6 Boolean functions
def is_even(num):
    return num % 2 == 0

print(is_even(4)) 
print(is_even(5)) 

# 7 Boolean values in data structures
bool_list = [True, False, True]
bool_dict = {'a': True, 'b': False}

It's a great day!
You might need an umbrella or a jacket.
True
False
It's hot outside!
True
False

**14. Functions**

14.1. Built-in Functions

In [28]:
# most important Functions

# 1 print()
print("moin")
print("moin,","servus", sep="!")
print("He", end=" ") # default is new line

print("is awesome")

# 2 input()
input("age: ")

# 3 len()
print(len("heykkkk"))

# 4 type()
print(type(99.88))

# 5 range()
range(0, 10, 2) # print with for loop

# 6 open()

# 7 str(), int(), float(), list(), tuple(), dict() constructor
# see 2.5.


# 8 sorted()
a = ("b", "g", "a", "d", "f", "c", "h", "e") # numbers are sorted numerically
x = sorted(a)
print(x) 

a = ("h", "b", "a", "c", "f", "d", "e", "g")
x = sorted(a, reverse=True)
print(x)

# 9 sum()
a = (1, 2, 3, 4, 5)
x = sum(a)

a = (1, 2, 3, 4, 5)
x = sum(a, 7) # add 7 to sum

# 10 max(), min() they work the same
x = max("Mike", "John", "Vicky")
print(x)

a = (1, 5, 3, 9)
x = max(a) 
print(x)

# 11 abs()
x = abs(-7.25)

# 12 enumerate()

x = ('apple', 'banana', 'cherry')
y = enumerate(x)
print(list(y))

# 13 zip()

a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")
x = zip(a, b)
print(tuple(x))

# 14 map() later

# 15 filter() later
my_list = [1, 2, 3, 4, 5]
filtered_list = list(filter(lambda x: x % 2 == 0, my_list))
print(filtered_list)

# 16 format()
name = 'Alice'
age = 30
formatted_string = 'My name is {} and I am {} years old.'.format(name, age)
print(formatted_string)

#17 eval()
result="55+31"
print(eval(result))

#18 all()
print(all([2, 1, 9, 0]))

#19 any()
print(any("0zzzzz"))

#20  delattr(), hasattr(), setattr()
class MyClass:
    x=55
obj=MyClass()

print(hasattr(obj, "x"))

delattr(MyClass, "x")
print(obj.__dict__)

setattr(obj, "y", 77)
print(obj.y)

#21 isinstance()
x=99
print(isinstance(x, int))

#22 issubclass()
class A:
    pass
class B(A):
    pass
print(issubclass(B, A))    

#23 globals() and locals() work same
#print(globals())

#24 id() memory address
x=222
print(id(x))

#25 help()
print(help(any))

#26 round()
y=333.93643
print(round(y, 3))

#27 reversed()
iterable="Moin Hey Yeah"
new=list(reversed(iterable))
print(new)

#28 map()
my_list = [1, 2, 3, 4, 5]
squared_list = list(map(lambda x: x ** 2, my_list))
print(squared_list)

#29 zip()
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped_list = list(zip(numbers, letters))
print(zipped_list)

#30 iter() and next() at Iterator
# x lambda()

moin
moin,!servus
He is awesome

age:  4

7
<class 'float'>
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
Vicky
9
[(0, 'apple'), (1, 'banana'), (2, 'cherry')]
(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))
[2, 4]
My name is Alice and I am 30 years old.
86
False
True
True
{}
77
True
True
140725363271000
Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

None
333.936
['h', 'a', 'e', 'Y', ' ', 'y', 'e', 'H', ' ', 'n', 'i', 'o', 'M']
[1, 4, 9, 16, 25]
[(1, 'a'), (2, 'b'), (3, 'c')]

14.2. Own Functions

In [34]:
def hey(x): # x is parameter
    print(len(x))
    return x # end of execution after return
print(hey("88989"))    # argument x function call

def my_function(*kids): # args
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")  

def my_functionn(child3, child2, child1): # kwargs
  print("The youngest child is " + child3)

my_functionn(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

def my_functionnn(**kid): # **kwargs
  print("His last name is " + kid["lname"])

my_functionnn(fname = "Tobias", lname = "Refsnes")

def kp():
    pass # empty function


#global scope
x=5 # global variable
def locall():
    #local scope
    y=3 # local variable
    global z # global statement
    z=99 # global variable

5
88989
The youngest child is Linus
The youngest child is Linus
His last name is Refsnes

14.2. Lambda

In [37]:
x=lambda l:l**2
print(x(4))

16

14.3. Recursion

**15. Modules**

In [80]:
#import xy as x
# pip install/uninstall xy
# list packages with pip list
# access variables/functions with dot notation

**16. if statements**

In [1]:
a="x"
if a =="x":
    print("ok")
elif a !="j":
    print("moin")
else:
    print("no")
#short hand if 
if a == "x": print("ok")
# short hand else

print("hey") if a=="k" else print(a)

ok
ok
x

**17. Loops**

17.1. for loop

In [ ]:
# iterate over sequences, sets, dictionaries
for i in range(5):     
    print(i)
else:
    print("Loop completed without encountering a break statement.")

17.2. while loop

In [ ]:
num = 0
while num < 5:
    print(num)
    num += 1
else:
    print("Loop completed without encountering a break statement.")

**18. Iterator**

**19. Generator**

**20. Classes and objects**

In [52]:
class MyClass():
    x=4 # property
p1=MyClass() # object
print(p1.x) 

class Person:
  def __init__(self, name, age): # init function
    self.name = name
    self.age = age
  def __str__(self):
    return f"{self.name}({self.age})" 

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

# print p1 because of str function
print(p1)
del p1.name
p1.age=37
del p1

class classic():
    pass

class Human: # create class
     def __init__(self, n, o): # __init__() function
         self.name = n # properties
         self.occupation = o # properties
     def do_work(self): # define methods
         if self.occupation == "tennis player": # method 1
             print(self.name, "plays tennis")
         else self.occupation == "actor": # method 2
             print(self.name, "shoots a film")

     def speaks(self): # define methods
         print(self.name, "says how are you?") # method

tom = Human("tom cruise", "actor") # object
tom.do_work()  # returns tom cruise shoots a film
tom.speaks()   # returns tom cruise says how are you?

maria = Human("maria sharapova", "tennis player") # object
maria.do_work()  # returns maria sharapova plays tennis
maria.speaks()   # returns maria sharapova says how are you?

4
John
36
John(36)

**21. Inheritance**

In [ ]:
class A:
    pass
class B(A):
    pass

**22. Exception Handling**

In [48]:
x="uu"
try:
  print(x)
except:
  print("An exception occurred")
else:
    print("Nothing went wrong!")
    
try:
  print(p)
except NameError:
  print("Variable p is not defined")
except:
  print("Something else went wrong")    

try:
  print(q)
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")



try:
    raise Exception("memory error")
except Exception as e: 
     print(e)
    
x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

uu
Nothing went wrong!
Variable p is not defined
Something went wrong
The 'try except' is finished
memory error

TypeError: Only integers are allowed

**23. Files**